.about-container {
    padding: 40px;

    .about {
        display: flex;
        justify-content: center;
        padding: 0 4rem;
        gap: 5rem;

        .img {

            p {
                margin-bottom: 5px;
                color: #555;
                font-family: Mulish, sans-serif;
                font-size: 1.1rem;
                max-width: 500px;
            }

            img {
                height: 18rem;
                width: 20rem;
                border: 3px solid #2d2e32;
                border-radius: 40% 40% 30% 70%/60% 30% 60% 30%;
                margin-bottom: 20px;
                object-fit: cover;
            }
        }

        .About-text {
            color: #555;
            font-family: Mulish, sans-serif;
            font-size: 1.1rem;

            .text-about {
                font-size: 1.1rem;
                color: blue;
            }

            h3 {
                color: #2d2e32;
                font-family: Poppins, sans-serif;
                font-size: 1.5rem;
                line-height: 1;
                margin-bottom: 1rem;
            }

            p {
                margin: 20px 0 10px 0;
            }

            ul {
                padding-left: 30px;

                li{
                    margin-bottom: 3px;
                }
            }
        }
    }
}

@media only screen and (max-width:1000px) {
    .about {
        flex-direction: column;
    }
}

@media only screen and (min-width:120px) and (max-width:720px) {

    .about-container {
        padding: 20px 0px;

        .about {
            flex-direction: column;
            padding: 0 2rem;

            .img {

                img {
                    height: 15rem;
                    width: 15rem;
                }
            }

            .About-text {
                text-align: center;

                h3 {
                    line-height: 1.3;
                }

                p {
                    line-height: 1.5;
                }
            }


        }
    }
}