.about-container {
  padding: 20px 40px;
  position: relative;
  color: #fff;
  border-radius: 15px;

  .about {
    padding: 2rem 4rem;
    display: flex;
    animation: fadeIn 2s ease-out;

    .About-text {
      color: #555;
      font-family: Mulish, sans-serif;
      font-size: 1.1rem;

      .text-about {
        font-size: 1.1rem;
        color: #00b3b3;
        letter-spacing: 3px;
        text-shadow: none;
      }

      h3 {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 1rem;
        text-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
      }

      p {
        margin: 20px 0 10px 0;
        color: #fff;
      }

      ul {
        padding-left: 30px;
        list-style-type: disc;

        li {
          margin-bottom: 10px;
          color: #ddd;
        }
      }

      .image {
        margin-top: 30px;

        img {
          width: 300px;
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    .img {
      max-width: 500px;

      img {
        width: 100%;
        border-radius: 15px;
        filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7));
      }
      
      img:hover{
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
  }
}

@media only screen and (min-width: 120px) and (max-width: 720px) {
  .about-container {
    padding: 20px 0px;

    .about {
      flex-direction: column;
      padding: 0 1rem;

      .img {
        img {
          width: 300px;
        }
      }

      .About-text {
        .text-about {
          text-align: center;
          font-size: 0.8rem;
        }

        h3 {
          font-size: 1.1rem;
        }

        p {
          line-height: 1.5;
          font-size: 0.9rem;
        }

        ul li {
          font-size: 0.8rem;
        }

        .image {
          img {
            width: 200px;
          }
        }
      }
    }
  }
}
