.about-container {
  padding: 20px 40px;

  .about {
    padding: 2rem 4rem;
    display: flex;

    .About-text {
      color: #555;
      font-family: Mulish, sans-serif;
      font-size: 1.1rem;

      .text-about {
        font-size: 1.1rem;
        color: blue;
      }

      h3 {
        color: #2d2e32;
        font-family: Poppins, sans-serif;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 1rem;
      }

      p {
        margin: 20px 0 10px 0;
      }

      ul {
        padding-left: 30px;

        li {
          margin-bottom: 3px;
        }
      }

      .image {
        img {
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
  }
}

@media only screen and (min-width: 120px) and (max-width: 720px) {
  .about-container {
    padding: 20px 0px;

    .about {
      flex-direction: column;
      padding: 0 1rem;

      .img {
        img {
          width: 300px;
        }
      }

      .About-text {

        .text-about{
          text-align: center;
          font-size: 0.8rem;
        }

        h3 {
          font-size: 1.1rem;
        }

        p {
          line-height: 1.5;
          font-size: 0.9rem;
        }

        ul li{
          font-size: 0.8rem;
        }

        .image{

          img{
            width: 200px;
          }
        }
      }
    }
  }
}
