.home-container {
    padding: 40px;

    .hero-main {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 50px;

        .hero-text {

            h1{
                line-height: 1.5;
            }

            span {
                color: blue;
                font-size: 2rem;
                font-weight: bold;
            }

            p{
                max-width: 800px;
            }

            img {
                height: 3rem;
                width: 3rem;
                margin-bottom: -10px;
            }

            p {
                font-size: 1.2rem;
                color: #555;
                font-family: Mulish, sans-serif;
                font-weight: 500;
                line-height: 1.6;
                margin-top: 20px;
            }
        }
    }

    .hero-pic {
        height: 20rem;

        img {
            height: 100%;
            border: 3px solid #2d2e32;
            border-radius: 40% 40% 30% 70%/60% 30% 60% 30%;
            animation: morph 8s ease-in-out infinite;
            transition: all 1s ease-in-out;
        }
    }

    .button-tech {
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttons {
            margin-bottom: 50px;

            button {
                padding: 9px 14px;
                border-radius: 22px;
                color: black;
                background: white;
                font-weight: 700;
                font-size: 15px;
                font-family: Poppins, sans-serif;
                margin: 0 10px;
                cursor: pointer;
                border: 1px solid rgb(212, 210, 210);
            }

            button:hover {
                color: blue;
                box-shadow: 0px 5px 10px rgba(150, 150, 150, .5);
            }
        }

        .tech {
            display: flex;
            align-items: center;

            h4 {
                border-right: 2px solid rgba(45, 46, 50, .5);
                color: #2d2e32;
                font-family: Mulish, sans-serif;
                font-weight: 600;
                margin-right: 4rem;
                padding-right: 2rem;
            }

            .center {
                font-size: 3rem;
                display: flex;
                place-items: center;
                gap: 1rem;

                img {
                    width: 42px;
                    height: 42px;
                    border-radius: 5px;
                }

                .mongodb{
                    width: 100px;
                }

                .tailwind{
                    width: 50px;
                }

                .fa-html5 {
                    color: #FF0000;
                }

                .fa-css3-alt {
                    color: #264de4;
                }

                .fa-react {
                    color: #61dafb;
                }

                .fa-bootstrap {
                    color: rgb(64, 76, 150);
                }
            }
        }
    }
}

@media only screen and (min-width:120px) and (max-width:1023px) {
    .home-container{
        padding: 20px 0px;

        .hero-main{
            flex-direction: column-reverse;
            gap: 2rem;

            .hero-text{
                text-align: center;
            }

            .hero-pic {
                height: 15rem;
            }
        }

        .tech {
            flex-direction: column;
            position: static;

            & h4 {
                border-bottom: 2px solid rgba(45, 46, 50, .5);
                border-right: none !important;
                margin-bottom: 3rem;
                margin-right: 0 !important;
                padding-bottom: 1rem;
                padding-right: 0 !important;
            }
        }
    }
}