.projects-container {
  padding: 40px;

  .text-projects {
    text-align: center;
    color: blue;
    font-size: 1.1rem;
    margin-bottom: 25px;
  }

  .projects-grid {
    display: grid;
    place-items: center;
    gap: 3rem;

    .box {
      background-color: white;
      width: 58rem;
      padding: 1rem 0.5rem;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      .projects-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
      }

      h3 {
        align-items: center;
        color: #2d2e32;
        display: flex;
        font-size: 1.2rem;
        gap: 0.2rem;
        justify-content: center;
        margin-bottom: 1rem;
      }

      p {
        color: #767676;
        font-size: 1rem;
        text-align: center;
      }

      .image {
        img {
          width: 25rem;
          height: 17rem;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      .projects-description {
        .stack {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;
          margin-top: 1rem;

          p {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #000 !important;
            font-family: Mulish, sans-serif !important;
            font-weight: 550 !important;
            padding: 0.7rem 1rem;
          }
        }

        .link {
          font-size: 1rem;
          font-weight: 500;
          margin-top: 1rem;
          gap: 2rem;
          display: flex;
          justify-content: center;

          a {
            text-decoration: none;
            color: black;
          }

          a:hover {
            color: blue;
          }
        }
      }
    }

    .box:nth-child(even) {
      .projects-text {
        flex-direction: row-reverse;
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 720px) {
  .projects-container {
    padding: 20px 0;

    .projects-grid {
      .box {
        width: 21rem;

        .portfolio,
        .digital-clock {
          flex-direction: column;
          gap: 0;
          padding: 2% 4%;
          margin: 0;
        }

        .youtube-clone {
          flex-direction: column-reverse;
          gap: 0;
          padding: 2% 4%;
          margin: 0;
        }

        .images {
          width: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          border: 1px solid rgb(234, 234, 234);
        }

        h3 {
          margin: 10px 0;
          font-size: 15px;
        }

        .stack {
          p {
            font-size: 14px;
            padding: 1rem;
          }
        }
      }
    }
  }
}
